Package: AB_PACKAGE_NAME-AB_PACKAGE_VERSION
Version: AB_PACKAGE_VERSION
Section: unknown
Priority: required
Architecture: all
Essential: no
Depends: aaa-base
Conflicts: gcc-runtime-4.0.3
Replaces: gcc-runtime-4.0.3
Maintainer: Aethernet support team [support@aethernet.co.uk]
Provides: AB_PACKAGE_NAME
Description: AB_PACKAGE_DESC
