Package: AB_PACKAGE_INSTALL_NAME
Version: 1.unpublished
Section: unknown
Priority: required
Architecture: all
Essential: no
Depends: aaa-base
Maintainer: Aethernet support team [support@aethernet.co.uk]
Provides: AB_PACKAGE_NAME
Description: AB_PACKAGE_DESC
